
.accordion {
    .accordionTitle {
        font-size: 1.4rem;
    }
    .plus {
        top: 32px;
        left: 10px;
        svg {
            transform: rotate(0deg);
            transition: all ease 800ms;
            width: 20px;
            height: 20px;
            polygon {
                fill: #ffffff;
            }
        }
        &.open {
            svg {
                transform: rotate(45deg);
                transition: all ease 800ms;
                width: 20px;
                height: 20px;
                polygon {
                    fill: #ffffff;
                }
            }
        }
    }

    .content {
        opacity: 0;
        max-height: 0px;
        //transform: scaleY(0);
        transition: transform ease 800ms, max-height ease  400ms, transform ease 600ms, opacity ease 300ms;
        &.open {
            // visibility: visible;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            max-height: 100%;
            //transform: scaleY(1);
            opacity: 1;
            
            transition: transform ease 800ms, max-height ease 600ms, transform ease 600ms, opacity ease 600ms;
        }
    }

}