article {
    
   

    

    .post {
        border: 1px solid #cecece;
        transition: all ease 0.7s;
        padding-bottom: 10px;
        border-radius: 5%;
        &:hover {
            box-shadow: 0 0 20px #a1a1a1;
            transition: all ease 0.7s;
            transform: scale(1.05);
        }

        .meta {
            padding-top: 20px;
        }
    }
}