article {
    
   

    

    .post {
        border: 1px solid #cecece;
        transition: all ease 0.7s;
        padding-bottom: 10px;
        border-radius: 5%;
        &:hover {
            box-shadow: 0 0 20px #a1a1a1;
            transition: all ease 0.7s;
            transform: scale(1.05);
        }

        .meta {
            padding-top: 20px;
        }
    }
}

article {
    
   

    

    .postune {
        border: 1px solid #cecece;
        transition: all ease 0.7s;
        border-radius: 15px;

        &:hover {
            box-shadow: 0 0 20px #a1a1a1;
            transition: all ease 0.7s;
            transform: scale(1.05);
        }
        .infobg {
            background-color:#fafafade;
            padding:10px;
        }

        .meta {
            padding-top: 20px;
            color:#3c3c3c;
        }
    }
    .postune h3 {
        max-width:400px;
       color:#3c3c3c;
       font-size:25px;
    }
}