/**
* Need to use "!important" notation to override default slick carousel behavior
**/

.carousel > div > button:first-of-type {
    left: -11%;
}

.carousel > div > button:last-of-type {
    right: -11%;
}

button:before {
    color: #000 !important;
}

.slick-dots {
    position: unset !important;
}

#last-item:focus {
    outline: none;
}

.slick-active {

    a:not(.roundedButton){
        position: relative;
        z-index: 800;
        color: #37c5ee;
    }

}