/****************** SIDEBAR ******************/

.titre {
    background: #272723;
    color: #ffffff;
    font-size: 20px;
    padding:10px;
    font-weight: bold;
    max-height: 66px;
    
    @media(max-width: 1024px) {
        font-size:16px;
        background: #ffffff;
        color: black;
     }
 }

 .titre svg {
     width: 25px;
     margin-top: 0px;

     @media(max-width: 1024px) {
        margin-top: -5px;
    }
 }

.soustitre {
    background: #808080;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;

    @media(max-width: 1024px) {
        font-size:14px;
        background: white;
        color: #3c3c3c;
        padding-left:40px;
    }
}


.bastitre {
    background: #f1f1f1;
    font-size: 15px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:25px;

    @media(max-width: 1024px) {
        font-size:13px;
        padding: left 35px;
        background: white;
    }
}

hr {
    border-top: 1px solid #e8e8e8;
    width: 75%;
    margin-left:auto;
    margin-right:auto;
    display:block;

    @media(max-width: 1024px) {
        width:100%;
    }
}

.bastitre li {
    padding-top:5px;
    padding-bottom:5px;
    transition: transform .2s;
}
.bastitre li:hover {
    color:#37cfee;
    cursor: pointer;
    transform: scale(1.08);
}

.bastitre li:active {
    color:#37cfee
}
svg {
    margin:5px;
}

ul li svg {
    width:80px;
    @media(max-width: 768px) {
        width:73px;
        margin-bottom:10px;
    }

}
/****************** CONTENU ******************/

html {
    scroll-behavior: smooth;
}

.hidden {
    opacity: .3;
}

.active {
    font-weight: bold;
    color:#37cfee;
}
.btn-section {
    position: fixed;
    display: flex;
    right: 3vw;
    transform:rotate(90deg);
    @media(max-width: 1400px){
        right: 6vw;
        justify-content:flex-end;
    }
    @media(min-width:1024px){
        z-index:500;
        margin-top:25px;
        justify-content: flex-start;
        max-width: 50px;
    }
    @media (max-width: 1023px) {
        display: none;
    }
}

.btn-section div > img {
    margin: 0 15px;
}

.faq-btn {
    transition: width .5s ease-in;
}

.faq-btn:hover {
    cursor: pointer;
}

.btn-prec {
    transform: scale(-1, 1);
}

.question-section {
    transition: opacity 1s ease-in-out;
    margin-top: 100px;

    @media(min-width:1024px) {
        max-width: 70%;
        background-color:#3c3c3c;
        color: white;
        padding:4%;
        border-radius:40px;
    }

    @media(max-width: 998px) {
        position: relative;
        margin-top: 20px;
        top: 0;
    }
}


.hidden-question {
    opacity: 0.25;

    @media(max-width: 998px) {
        position: absolute;
        z-index: -9999;
        opacity: 0;
    }

}

.bloctext h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 18px;

    @media(min-width:1024px) {
    font-size:20px;
    }
    
}

.bloctext h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 18px;

    @media(max-width: 1400px) {
        font-size:14px;
    }
}

h3.intertitre3 {
    font-size:20px;
    color: #272723;
}

.bloctext h4 {
    font-weight:bold;
    
    @media(max-width: 1400px) {
        font-size:13px;
    }
}

.bloctext {
    // margin-left:125px;
    // margin-right:125px;
    // margin-top:40px;
    // margin-bottom: 75px;
    background-color:#000000f0;
    max-height:1535px;
    overflow:hidden;

    @media(min-width:1810px) and (max-width: 1828px) {
            max-height:1575px;
    }

    @media(min-width:1631px) and (max-width: 1810px) {
        max-height:1620px;
    }
    @media(min-width:1589px) and (max-width: 1631px) {
        max-height:1642px;
    }
    @media(min-width:1534px) and (max-width: 1589px) {
        max-height:1685px;
    }
    @media(min-width:1442px) and (max-width: 1534px) {
        max-height:1753px;
    }
    @media(min-width:1417px) and (max-width: 1442px) {
        max-height:1770px;
    }
    @media(min-width:1400px) and (max-width: 1417px) {
        max-height:1795px;
    }
    @media(min-width:1389px) and (max-width: 1400px) {
        max-height:1797px;
    }
    @media(max-width: 1400px) {
        margin-left:auto;
        margin-right:auto;
        padding: 35px;
        margin-top: 0px;
        margin-bottom:0px;
        background-color:#000000f0;
        // max-height:1745px;
        
    }
    @media(min-width:1378px) and (max-width: 1389px) {
        max-height:1819px;
    }
    @media(min-width:1346px) and (max-width: 1378px) {
        max-height:1840px;
    }
    
    @media(min-width:1280px) and (max-width: 1346px) {
        max-height:1885px;
    }
    @media(max-width: 1280px) {
        max-height: 1890px;
    }
    @media(min-width:1239px) and (max-width: 1280px) {
        max-height:1906px;
    }
    @media(min-width:1158px) and (max-width: 1239px) {
        max-height:1929px;
    }
    @media(min-width:1123px) and (max-width: 1158px) {
        max-height:1951px;
    }
    @media(min-width:1107px) and (max-width: 1123px) {
        max-height:1995px;
    }
    @media(min-width:1035px) and (max-width: 1043px) {
        max-height:2005px;
    }
    @media(min-width:1026px) and (max-width: 1035px) {
        max-height:2015px;
    }
    // @media(min-width:1024px) and (max-width: 1043px) {
    //     max-height:2039px;
    // }
    @media(max-width:1023px) {
        background-color:#fff;
    }

    @media (max-width: 998px) {
        // max-height: 100%;
    }
}

.bloctext p {
    margin-bottom: 18px;
    
    @media(max-width: 1400px) {
        font-size:13px;
    }
}

.bloctext ul {
    margin-bottom: 50px;
    @media(max-width: 1400px) {
        font-size:13px;
    }
}

/*.content {
    opacity:0;
}*/

.bloccontact {
    background: #00cfffe0;
    height:300px;
    margin-top:70px;
    position:relative;
    border-radius:15px;
    
    @media(max-width: 1400px) {
        border-radius:0px;
    }
}

.bloccontact h2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
    text-align:center;
    color:white;
}
.bloccontact h3 {
    font-size: 17px;
    font-weight:normal;
    margin-left: 50px;
    margin-right: 50px;
    text-align:center;
    color:white;
}


/// AVIS /// 

article {
    
   

    

    .avis {
        border: 1px solid #cecece;
        transition: all ease 0.7s;
        padding-bottom: 10px;
        border-radius: 20px;
        max-height:500px;
        min-height:425px;
        
        &:hover {
            box-shadow: 0 0 20px #a1a1a1;
            transition: all ease 0.7s;
            transform: scale(1.05);
        }

        .meta {
            padding-top: 20px;
        }
        img {
            height: 50px;
            width: 50px;
            margin: 15px;
        }
        svg {
            margin-top:-20px;
        }

        h4 {
            margin-top:-65px;
            margin-left: 90px;
        }
        p {
            font-size:13px;
            padding-left:20px;
            padding-right:20px;
            padding-top: 20px;
            padding-bottom:00px;
            text-align:center;
           
        }
        @media (max-width:1024px) {
            min-height:300px;
        }
    }
    
}
.bloctitrescreen
{
    height:100vh;
    min-height:500px;
}