.border-bottom-bleu {
    border-bottom: #37c5ee 2px solid;
    bottom: -2px;
}

.notification-container-bottom-right, .notification-item
    {
    z-index: 5000;
    top: 115px !important;
}
.react-notification-root {
    top: 0 !important;
    right: 20px !important;
}