html, body {
    overflow-x: hidden !important;
}

hr{
    &.blue {
        width: 200px;
        margin: 15px auto;
        color: #37c5ee;
    }

    &.white {
        width: 200px;
        margin: 15px auto;
        color: #ffffff;
    }
}

.border-before-footer {
    border-bottom: 2px solid #37c5ee;
    
}

.menu-avisclients {
    display:none;
    width: 20%;
    transition:all ease 0.7s;
    color:#000;
    &:hover {
        transition:all ease 0.7s;
        color:#37cfee;
    }
    a svg g {
        fill:#37cfee;
    }
    @media (min-width:425px) {
        display:flex
    }
}

.pb-128 {
    margin-bottom: 400px;

    @media(max-width: 768px){
        margin-top: 30px;
    }
}

body {
    .font-sans {
        font-family: 'Lato';
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        color:#272727;
    }
}

.text-7xl {
    font-size: 4.2rem;
}

.link {
    svg {
        width: 20px;
        height: 20px;

        path {
            fill: #37c5ee;
        }
    }

    &:hover {
        transition: all ease 1s;
        color: #37c5ee;
    }
}

.svg-white {
    path {
        fill:#ffffff;
    }
    
}

.svg-bleu {
    path {
        fill:#37c5ee;
    }
    
}
footer {
    min-height: 400px;
    bottom: 0;
    .navFooter {
        a {
            transition: all ease 0.7s;
            &:hover {
                .chevronFooter {
                    font-size: 14px;
                    color: #37c5ee;
                    transition: all ease 0.7s;
                }
            }
        }

    }

    .infos {
        svg {
            width: 16px;
            height: 16px;
            path {
                fill: #ffffff;
            }
        }
    }

    @media(max-width: 768px){
        height: auto;
        z-index: 50 !important;
    }
}

.beforeOverlay::before {
    position: absolute;
    content: "";
    background-color: white;
    opacity:1;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 15;
}


.roundedButton {
    transition: all ease 0.7s;
    &:hover {
        background-color: #000000;
        transition: all ease 0.7s;
    }
}


.home-step {

    
    .blackBulle {
        background-color: black;
        color: white;
        height: 100px;
        width: 100px;
        flex: 0 0 100px;
        margin-right: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        line-height: 35px;
        font-weight: 700;

        @media(max-width: 1400px){
            margin-right: 0;
        }
    }

    h3 {
        min-height: 100px;
    }
}

.cookieConsent {
    button {
        background-color: #37c5ee !important;
        color: #ffffff !important;
        transition: all ease 0.8s;

        &:hover {
            background-color: white !important;
            color: #37c5ee !important;
            transition: all ease 0.8s;
        }
    }
}

.menublog {
    font-weight:300;
    font-size:20px;
    
}
.itemmenublog {
    display:flex;
    align-items:center;    
}
.itemmenublog:hover {
    transform:scale(1.2);
    transition: transform .3s;
    color:#fff;
    font-weight:700;
    margin-left:auto;
    margin-right:auto;
    display:absolute
}
.blocliens {
    transition:500ms!important;
}
.blocliens:hover {
        box-shadow: 0 0 20px #a1a1a1;
        transition: 500ms!important;
        transform: scale(1.1)!important;
}


// Header page bloc titre // 

.bloctitrescreen {

    height:100vh;
    min-height:750px;
}

.sousmenupages .zoom {
    transition:0.3s;
}

.sousmenupages .zoom:hover {
    transform:scale(1.5);
    transition:0.2s;
}

.sousmenupages .zoom svg {
    transition:0.2s;

}
.sousmenupages .zoom svg:hover {
    fill:#37cfee;
    transition:0.3s;

}

.sousmenupages .zoom svg:visited {
    fill:#37cfee;
}

.sousmenupages .button-b .active-a {
    fill:#fff;

}
.sousmenupages .button-c .active-a {
    fill:#fff;

}
.sousmenupages .button-d .active-a {
    fill:#fff;

}

.sousmenupages .button-a .active-a {
    fill:#37cfee;
    transform:scale(1.5);

}
.sousmenupages .button-b .active-a {
    fill:#fff;

}
.sousmenupages .button-c .active-a {
    fill:#fff;

}
.sousmenupages .button-d .active-a {
    fill:#fff;

}.sousmenupages .button-a .active-b {
    fill:#fff;

}
.sousmenupages .button-b .active-b {
    fill:#37cfee;
    transform:scale(1.5);

}
.sousmenupages .button-c .active-b {
    fill:#fff;

}
.sousmenupages .button-d .active-b {
    fill:#fff;

}
.sousmenupages .button-a .active-c {
    fill:#fff;

}
.sousmenupages .button-b .active-c {
    fill:#fff;

}
.sousmenupages .button-c .active-c {
    fill:#37cfee;
    transform:scale(1.5);

}
.sousmenupages .button-d .active-c {
    fill:#fff;

}
.sousmenupages .button-a .active-d {
    fill:#fff;

}
.sousmenupages .button-b .active-d {
    fill:#fff;

}
.sousmenupages .button-c .active-d {
    fill:#fff;

}
.sousmenupages .button-d .active-d {
    fill:#37cfee;
    transform:scale(1.5);

}
.sousmenupages .active-w {
    fill:#ffffff!important;

}

.service-seo {
    border:1px solid;
    margin-left:auto;
    margin-right:auto;
    margin-top:8px;
    margin-bottom:8px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:top;
    border-radius:15px;
    border-color: rgb(212, 212, 212);
    min-height:620px;
    // max-height:500px;
    flex-wrap: wrap;
    width:24%;

    @media (max-width:1024px) {
        width:45%;
        min-height:670px;
        h3 {
            font-size:20px;
        }
        h4 {
            font-size:15px;
            text-align:justify;
            text-align-last:center;
        }
        p {
            font-size:15px;
        }
    }
    @media (max-width:425px) {
        width:100%;
        min-height:550px;
    }
}

.hrblog {
    border-top: 1px solid #37cff57a;
    margin-left: 0px;
    width: 100%;
}

.sidebarlinks {
    min-height:70px;
    max-width:500px;
    border-radius:15px;
    transition:all ease 0.5s;
    margin-bottom:5px;
    color:white;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    background-blend-mode:luminosity;
}

.sidebarlinks:hover {
    transform:scale(1.05);
    transition: all ease 0.5s;
    box-shadow: 0 0 20px #a1a1a1;
    background-blend-mode:overlay;
}

.sidebarlinks h4 {
    display:none;
}

.sidebarlinks:hover h4 {
    display:block;
}

.blocblog {
    transition: all ease 0.5s;
}

.blocblog:hover {
    transform:scale(1.05);
    transition: all ease 0.5s;
    box-shadow: 0 0 20px #a1a1a1;
}