hr.blue {
    width: 200px;
    margin: 15px auto;
    color: #37c5ee;
}

body {
    .font-sans {
        font-family: 'Lato';
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        color:#272727;
    }
}