html, body {
    overflow-x: hidden !important;
}

hr{
    &.blue {
        width: 200px;
        margin: 15px auto;
        border-color: #37c5ee;

        &.left {
            margin-left: 0 !important;
        }
    }

    &.white {
        width: 200px;
        margin: 15px auto;
        color: #ffffff;
    }
}

.border-before-footer {
    border-bottom: 2px solid #37c5ee;
    
}

.menu-avisclients {
    display:none;
    transition:all ease 0.7s;
    color:#000;
    &:hover {
        transition:all ease 0.7s;
        color:#37cfee;
    }
    a svg g {
        fill:#ffffff;
    }
    @media (min-width:425px) {
        display:flex
    }
}

.pb-128 {
    margin-bottom: 400px;

    @media(max-width: 768px){
        margin-top: 30px;
    }
}

body {
    .font-sans {
        font-family: 'Lato';
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        color:#272727;
    }
}

.text-7xl {
    font-size: 4.2rem;
}

.link {
    svg {
        width: 20px;
        height: 20px;

        path {
            fill: #37c5ee;
        }
    }

    &:hover {
        transition: all ease 1s;
        color: #37c5ee;
    }
}

.svg-white {
    path {
        fill:#ffffff;
    }
    
}

.svg-bleu {
    path {
        fill:#37c5ee;
    }
    
}
footer {
    min-height: 400px;
    bottom: 0;
    .navFooter {
        a {
            transition: all ease 0.7s;
            &:hover {
                .chevronFooter {
                    font-size: 14px;
                    color: #37c5ee;
                    transition: all ease 0.7s;
                }
            }
        }

    }

    .infos {
        svg {
            width: 16px;
            height: 16px;
            path {
                fill: #ffffff;
            }
        }
    }

    @media(max-width: 768px){
        height: auto;
        z-index: 50 !important;
    }
}

.beforeOverlay::before {
    position: absolute;
    content: "";
    background-color: white;
    opacity:1;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 15;
}

.bg-creation {
    background:#000000ad url("../images/creation-site-internet-toulouse-bg.jpg");
    background-blend-mode:overlay; 
    background-repeat:no-repeat; 
    background-size:cover; 
    background-position:center top;
}

.roundedButton {
    transition: all ease 0.7s;
    position: relative;
    z-index: 5;
    &:hover {
        background-color: #000000;
        transition: all ease 0.7s;
    }
}


.home-step {

    
    .blackBulle {
        background-color: black;
        color: white;
        height: 100px;
        width: 100px;
        flex: 0 0 100px;
        margin-right: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        line-height: 35px;
        font-weight: 700;

        @media(max-width: 1400px){
            margin-right: 0;
        }
    }

    h3 {
        min-height: 100px;
    }
}

.cookieConsent {
    button {
        background-color: #37c5ee !important;
        color: #ffffff !important;
        transition: all ease 0.8s;

        &:hover {
            background-color: white !important;
            color: #37c5ee !important;
            transition: all ease 0.8s;
        }
    }
}

.menublog {
    font-weight:300;
    font-size:20px;
    
}
.itemmenublog {
    display:flex;
    align-items:center;    
}
.itemmenublog:hover {
    transform:scale(1.2);
    transition: transform .3s;
    color:#fff;
    font-weight:700;
    margin-left:auto;
    margin-right:auto;
    display:absolute
}
.blocliens {
    transition:500ms!important;
}
.blocliens:hover {
        box-shadow: 0 0 20px #a1a1a1;
        transition: 500ms!important;
        transform: scale(1.1)!important;
}


// Header page bloc titre // 

.bloctitrescreen {

    height:100vh;
    min-height:750px;
}

.sousmenupages .zoom {
    transition:0.3s;
}

.sousmenupages .zoom:hover {
    transform:scale(1.5);
    transition:0.2s;
}

.sousmenupages .zoom svg {
    transition:0.2s;

}
.sousmenupages .zoom svg:hover {
    fill:#37cfee;
    transition:0.3s;

}

.sousmenupages .zoom svg:visited {
    fill:#37cfee;
}

.sousmenupages .button-b .active-a {
    fill:#fff;

}
.sousmenupages .button-c .active-a {
    fill:#fff;

}
.sousmenupages .button-d .active-a {
    fill:#fff;

}

.sousmenupages .button-a .active-a {
    fill:#37cfee;
    transform:scale(1.5);

}
.sousmenupages .button-b .active-a {
    fill:#fff;

}
.sousmenupages .button-c .active-a {
    fill:#fff;

}
.sousmenupages .button-d .active-a {
    fill:#fff;

}.sousmenupages .button-a .active-b {
    fill:#fff;

}
.sousmenupages .button-b .active-b {
    fill:#37cfee;
    transform:scale(1.5);

}
.sousmenupages .button-c .active-b {
    fill:#fff;

}
.sousmenupages .button-d .active-b {
    fill:#fff;

}
.sousmenupages .button-a .active-c {
    fill:#fff;

}
.sousmenupages .button-b .active-c {
    fill:#fff;

}
.sousmenupages .button-c .active-c {
    fill:#37cfee;
    transform:scale(1.5);

}
.sousmenupages .button-d .active-c {
    fill:#fff;

}
.sousmenupages .button-a .active-d {
    fill:#fff;

}
.sousmenupages .button-b .active-d {
    fill:#fff;

}
.sousmenupages .button-c .active-d {
    fill:#fff;

}
.sousmenupages .button-d .active-d {
    fill:#37cfee;
    transform:scale(1.5);

}
.sousmenupages .active-w {
    fill:#ffffff!important;

}

.service-seo {
    border:1px solid;
    margin-left:auto;
    margin-right:auto;
    margin-top:8px;
    margin-bottom:8px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:top;
    border-radius:15px;
    border-color: rgb(212, 212, 212);
    min-height:620px;
    // max-height:500px;
    flex-wrap: wrap;
    width:24%;

    @media (max-width:1024px) {
        width:45%;
        min-height:670px;
        h3 {
            font-size:20px;
        }
        h4 {
            font-size:15px;
            text-align:justify;
            text-align-last:center;
        }
        p {
            font-size:15px;
        }
    }
    @media (max-width:425px) {
        width:100%;
        min-height:550px;
    }
}

.hrblog {
    border-top: 1px solid #37cff57a;
    margin-left: 0px;
    width: 100%;
}

.postsidebar a {
    background-color:#f2f2f2;
    border-radius:15px;
    transition: all ease 0.5s;
}

.postsidebar:hover a {
    transition: all ease 0.5s;
    transform:scale(1.1);
    box-shadow: 0 0 20px #a1a1a1;
}

.sidebarlinks {
    min-height:70px;
    max-width:500px;
    border-radius:15px;
    transition:all ease 0.5s;
    margin-bottom:5px;
    color:white;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    background-blend-mode:luminosity;
}

.sidebarlinks:hover {
    transform:scale(1.05);
    transition: all ease 0.5s;
    box-shadow: 0 0 20px #a1a1a1;
    background-blend-mode:overlay;
}

.sidebarlinks h4 {
    display:none;
}

.sidebarlinks:hover h4 {
    display:block;
}

.blocblog {
    transition: all ease 0.5s;
}

.blocblog:hover {
    transform:scale(1.05);
    transition: all ease 0.5s;
    box-shadow: 0 0 20px #a1a1a1;
}

//Navigation Blog //
.itemblog {
    transition: all ease 0.5s;
}
.itemblog:first-child {
    border-bottom-left-radius:27px;
}
.itemblog:hover {
    background:#a8e3efeb url('../images/background-blog.jpg') ;
    background-color:#a8e3efde;
    background-position: center right;
    background-size: cover;
    background-blend-mode:multiply;
    transition: all ease 0.5s;
    color:white;
    &:first-child {
        border-bottom-left-radius:27px;
    }
}

// AUTEUR BLOG //

.blocauteur {
    transition: all ease 0.5s;
    border-radius:15px;
}

.blocauteur:hover {
    border-radius:15px;
    transform:scale(1.05);
    transition: all ease 0.5s;
    box-shadow: 0 0 20px #a1a1a1;
}

.blocauteur img {
    transition: all ease 0.5s;
    border-radius:8888px;
}

.blocauteur img:hover {
    transform:scale(1.2);
    transition: all ease 0.5s;
    box-shadow: 0 0 20px #a1a1a1;
    border-radius:8888px;

}

//DÉFINITIONS//

.topdef {
    background-color:#37cfee;
    width:33%;
    padding:10px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

.list-def {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.list-def li {
    background:#37cfee;
    padding:10px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
    border-radius:15px;
    transition:all ease 0.5s;
    text-align:center;
}

.list-def li:hover {
    background:#3c3c3c;
    padding:10px;
    margin-bottom:5px;
    border-radius:15px;
    text-align:center;
    transition:all ease 0.5s;
    transform:scale(1.2)
}
.list-def a li {
    color:white;
    }
.list-def a li:hover {
color:white;
}

// BANDEAU CONFINEMENT//

.covid {
    border-top:5px solid #FFFFFF;
    top: -2px;
    right: 0px;
    max-height:95px;
    @media (max-width:1024px) {
        top: -10px;
        position: relative;
        margin-bottom: -180px;
        max-height:220px;
    }
    @media (max-width:823px) {
        top: -25px;
        position: relative;
        margin-bottom: -180px;
        max-height:220px;
    }
    @media (max-width:768px) {
        top: -25px;
        position: relative;
        margin-bottom: -180px;
        max-height:220px;
    }
    @media (max-width:450px) {
        top: 0px;
        position: relative;
        margin-bottom: -160px;
        max-height:220px;
    }
}

.covid svg {
    display:block;
    @media (max-width:450px) {
        display:none;
    }
}


.flex-artisans {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    strong {
        flex: 0 0 20%;
        min-height: 40px;
        padding: 0 5px;
        font-size: 14px;
        line-height: 13px;
        display: flex;
        align-items: center;
        position: relative;

        &::before {
            content: ">";
            padding-right: 5px;
        }
    }
}

// CRÉATION SITE INTERNET TOULOUSE //

.blocpresta {
    
    width:100%;
    background:#000000ad url('../images/cta-background-agence-web.jpg');
    background-size:cover;
    background-blend-mode:multiply;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    text-align:center;
    min-height: 100vh;
}
.blocpresta {
    
    ul li .check {
        color:#37cfee;
        width:25%;
        text-align:center;
    }
    hr {
        width:25%;
        border:solid 1px #37cfee;
        margin-top:5px;
        margin-bottom:10px;
    }

}

.phototext {
    width:100%;
    display:flex;
    flex-direction:column;
}

.sidetitle {
    h4 {
        font-weight:bold;
    }
    .line-title {
        display:flex;
        flex-direction:row;
        justify-content:left;
        text-align:left;
        align-items:left;
    }
    hr {
        margin-top:15px;
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        align-items:left;
        margin-left:0;
        margin-right:40px;
    }
}

.phototext {

    
    h4 {
        font-weight:bold;
    }
    .line-title {
        display:flex;
        flex-direction:row;
        justify-content:center;
        text-align:left;
        align-items:center;
    }
    hr {
        margin-top:15px;
        border:solid 1px #37cfee;
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        margin-left:auto;
        margin-right:auto;
    }
     .blocchiffres {
        font-size: 100px;
        opacity: 0.12;
        margin-top:0rem;
        color: #a5a5a5;
        transition: all ease 0.4s;
        position:relative;
        z-index:1;
    }
    .blocchiffres:hover {
            color:#37cfee;
            opacity: 0.2;
            transition: all ease 0.4s;
            transform: scale(2);
        
    }
    a {
        color:#37cfee;
        font-weight:bold;
        transition:all ease 0.2s
    }
    a:hover {
        color:#3c3c3c;
        font-weight:bold;
        transition:all ease 0.2s
    }
}


.svgtransform {
    transition: all ease 0.5s;
}

.svgtransform:hover {
    transform:scale(1.2);
    transition: all ease 0.5s;
    

}

.pageButton {
    transition: all ease 0.7s;
    &:hover {
        background-color: #ffffff;
        transition: all ease 0.7s;
    }
}

/* AGENCE WEB TOULOUSE */

.bloctextimg .image {
    margin-left:325px;
  
    @media (max-width:2048px) and (min-width:2250px) {
        margin-left:500px;
    }
    @media (max-width:1400px) and (min-width:1024px) {
        margin-left:20px;
        
        }
        @media (max-width:1024px) and (min-width:768px) {
            margin-left:0px;
            
            }
    @media (max-width:768px){
        margin-left:0px;
            
        }
    @media (max-width:1024px) and (min-width:768px) {
    padding-right:0px;
    
    }
}
.bloctextimg img {
    -webkit-box-shadow: -19px 0px 54px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -19px 0px 54px 0px rgba(0,0,0,0.75);
    box-shadow: -19px 0px 54px 0px rgba(0,0,0,0.75);
}

.bloctextimg .text {
        @media (min-width:2048px) {
            margin-left:1000px;
        }
        @media (max-width:2048px) and (min-width:1900px) {
            margin-left:1000px;
        }
        @media (max-width:1900px) and (min-width:1800px) {
            margin-left:950px;
        }
        @media (max-width:1900px) and (min-width:1650px) {
            margin-left:900px;
            }
        @media (max-width:1650px) and (min-width:1500px) {
            margin-left:850px;
            }
        @media (max-width:1500px) and (min-width:1400px) {
            margin-left:800px;
            }
        @media (max-width:1400px) and (min-width:1250px) {
            margin-left:550px;
            }
        @media (max-width:1400px) and (min-width:1250px) {
            margin-left:550px;
            }
        @media (max-width:1250px) and (min-width:1060px) {
            margin-left:450px;
            }
        @media (max-width:1060px) and (min-width:1024px) {
            margin-left:400px;
            }
        
}

#_hj-f5b2a1eb-9b07_feedback{
    display:none;
}

._hj_feedback_container ._hj-1O2Rr__MinimizedWidgetMiddle__container{
    display:none!important;
}

div.notifications-component {
    position: relative !important;
}