.mainNav {
    position: absolute;
    transition: all ease 1s;
    

    &.home {
        .menu {
            a {
                transition: color ease 1s;
                //color: white;
            }
        }
    }

    &.fixed-nav, &:not(.home) {
        position: fixed;
        background-color: #ffffff;
        transition: color ease 1s;
       
    

        .menu {

            a {
                color: #000;
                transition: all ease 1s;
                &:hover {
                    color: #37c5ee;
                }
    
                &:not(.last)::before {
                
                    background: #37c5ee;
                    
                }
    
                &:not(.last):hover, &.active {
                    &::before {
                        right: 0;
                    }
                }

                // 767px to avoid Ipad width
                @media(max-width: 767px) {
                    width: 100%;
                    font-size: 2vmax;
                    padding-left: 1.5rem;

                    &:not(.last):hover, &.active {
                        &::before {
                            right: 0;
                        }
                    }
                }
                
            }
        }
    }

    .expand {
        max-height: 1000px;
        transition: max-height .5s ease-out;
    }
    
    .unexpand {
        max-height: 0;
        transition: max-height .17s ease-in;
 
        @media(min-width: 974px) {
            max-height: 1000px;
        }

    }

    .menu {
        a {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            position: relative;
            overflow: hidden;
            transition: all ease 1s;

            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 0;
                right: 100%;
                bottom: 15px;
                background: #ffffff;
                height: 1px;
                -webkit-transition-property: right;
                transition-property: right;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
                @media(max-width: 768px) {
                    background: #37c5ee;
                }
            }
            &.avis-menu {
                display:flex;
                flex-direction:row;
                & p {
                    padding-top:3px;
                }
                    @media(min-width:425px) {
                        display:none;
                        color:#37c5ee;
    }

            }
            &:hover, &.active {
                &::before {
                    right: 0;
                }
            }
            &.last {
                color: white;
                &:hover {
                    color: white !important;
                }
            }            
        }

        .adwords {
            /*.blue {
                color: #4284f7;
                transition: all ease 1s;
            }
            
            .red {
                color: #ed4239;
                transition: all ease 1s;
            }

            .yellow {
                color: #ffbd06;
                transition: all ease 1s;
            }

            .green {
                color: #31ae53;
                transition: all ease 1s;
            }
            */
            .blue {
                color: #000;
                transition: all ease 1s;
            }
            
            .red {
                color: #000;
                transition: all ease 1s;
            }

            .yellow {
                color: #000;
                transition: all ease 1s;
            }

            .green {
                color: #000;
                transition: all ease 1s;
            }
            &:hover {
                .blue {
                color: #4284f7;
                transition: all ease 1s;
            }
            
            .red {
                color: #ed4239;
                transition: all ease 1s;
            }

            .yellow {
                color: #ffbd06;
                transition: all ease 1s;
            }

            .green {
                color: #31ae53;
                transition: all ease 1s;
            }
               /*.blue {
                    color: #ffbd06;
                    transition: all ease 1s;
                }
                
                .red {
                    
                    color: #31ae53;
                    transition: all ease 1s;
                }

                .yellow {
                    
                    color: #ed4239;
                    transition: all ease 1s;
                }

                .green {
                    
                    color: #4284f7;
                    transition: all ease 1s;
                } 
                */
            }
        }
    }

    .burger {

        &:focus {
            outline: none;
        }

        @media(max-width: 974px) {
            position: absolute;
            right: 5px;
            top: 50px;
            border: none;

            svg {
                fill: #37c5ee;
                width: 20px;
                height: 20px;

                @media(min-width:767px) and (max-width:974px) {
                    width: 25px;
                    height: 25px;
                }
            }

        }
        @media(min-width:975px) {
            display:none;
        }
    }
}


#navContainer {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 500;
    width: 100%;
    min-height: 100vh;
    transition: all .5s ease-in;
}
