.hero {
    height: 100vh;
    width: 100%;
    background-image: url('../images/bureau.jpg');
    background-size: cover;
    background-position: center center;

    .orbs {
        margin-bottom: 15px;
        span {
            
            font-size: 110px;
            display: inline-block;
            text-align: center;
            letter-spacing: -3px!important;
            
            @media(max-width: 768px) {
                letter-spacing: -8px !important;
            }
            &.blue {
                padding-left: 8px;
                padding-right: 5px;
                font-weight: 500;
                font-family: 'Century';
                font-size: 125px;
                
            }
        }

    }

    .bigtitle {
        font-size: 42px;
        letter-spacing: 0;
    }

    .smalltitle {
        font-size: 17px;
    }
}