
.one,.two,.three {
    
    .chiffres {
        font-size: 450px;
        opacity: 0.12;
        color: #a5a5a5;
        margin-top:-12rem;
        transition: all ease 0.4s;
        position:relative;
        z-index:1;
    
    }
    &:hover {
        .chiffres {
            color:#37cfee;
            opacity: 0.2;
            transition: all ease 0.4s;
            transform: scale(1.2);
        }
    }
}
.equipe {

    .imageDouble {
        background-image: url(../images/img_9223-vignette.jpg);
        background-position: center center;
    }
    .content, .pictures {
        height: 50%;
    }
    
    .content {
        padding-left: 10%;

        p {
            margin: 5px 0;
        }
    }

   

    .pictures {
        .imageSimple:nth-child(1) {
            background-image: url(../images/3.jpg);
            background-position: center center;
        }

        .imageSimple:nth-child(2) {
            background-image: url(../images/1.jpg);
            background-position: center center;
        }

        .imageSimple:nth-child(3) {
            background-image: url(../images/2.jpg);
            background-position: center center;
        }
    }
}

.styles_modal__gNwvD {
    max-width: none;
    background: none;
}

.styles_closeIcon__1QwbI {
    fill: white;
}

.miniList {
    .listPosts h5 {
        font-size: 15px;
    }

    .listPosts {

        max-height: 130px;
        border-radius: 15px;
        transition: all ease 0.5s;


        &:hover {
            transform: none !important;
        }

        .imgBloc {
            min-width: 80px;
            flex: 0 0 100px;
            position: relative;
            width: 100px;
            height: 130px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            overflow: hidden;

            img {
                min-width: 240%;
            }
        }


    }


    a.roundedButton {
        padding: 5px 15px;
    }

    .contact {
        bottom: auto !important;
    }
}