.map {
    max-height:650px;
    @media(max-width: 768px) {
    max-height:100%
    }
}

.contact {
    margin-right:0rem;
    @media (min-width: 768px) {
        margin-right:3rem;       
    }
}
//     bottom:0px;
    
// @media (max-width: 425px) {
//         width:100%!important;
//         bottom:0px!important;    
//     }

// @media (min-width: 769px) {
//     bottom:510px;

// }
//     @media(max-width: 768px) and (min-width:376px) {
//         bottom: 580px;
//         width: 60%;
//     }
// }

.map .backmap {
    height:650px;
    max-height:650px;
    width:100%;
    background: url("../images/map.jpg");
    background-blend-mode:overlay;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;

    @media (max-width:375px) {
        background-position: -445px;
    }    
}

